html {
    background-color: rgb(80, 80, 80);
}

body {
    font: normal 11pt/1.25 Palatino, "Palatino Linotype";
    text-rendering: optimizeLegibility;
    position: relative;
}

a {
    text-decoration: underline;
    color: black
}

div#header {
    text-align: center;
    width: 600px;
    font-size: 32px;
    margin: 0px auto;
    padding: 5px 29px;
    background-color: rgb(255,255,255);
    border-radius: 5px;
    border: thin solid;
}

div#header a {
    text-decoration: none;
}

div#context {
    text-align: justify;
    width: 600px;
    margin: 5px auto;
    padding: 1em 2em;
    background-color: rgb(255, 255, 255);
    border: thin solid;
    border-radius: 5px;
}

div#navigation {
    width: 8em;
    padding: 5px;
    position: fixed;
    right: 2em;
    font-size: 90%;
    background-color: rgb(255, 255, 255);
    border: thin solid;
    border-radius: 5px 5px 5px 5px;
}

div#navigation a {
    padding: 3px 10px;
    margin: 10px;
}

h1 {
    font-size: 27px;
    text-align: left;
    font-weight: normal;
    margin: 0px;
    border-bottom: thin solid rgb(0,0,0);
}

img.pretty {
    float: left;
    padding-right: 10px;
}

blockquote {
    background: rgb(230, 230, 230) url("../images/quote-background.png") no-repeat top left;
    font-family: serif;
    padding: 5px 5px 5px 50px;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
}

li {
    margin-bottom: 5px;
}

ul {
    list-style-image: url("../images/list-style-image.png");
    padding-left: 1em;
    margin-left: 1em;
}

code {
    font-size: 14px;
}

pre code {
    clear: both;
    display: block;
    padding: 8px;
    margin-bottom: 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
}

div#footer {
    clear: both;
    text-align: center;
    font-size: 12px;
    padding-top: 25px;
    background-color: rgb(255, 255, 255);
}
